.userCenter_pop_msg_box .info { padding: 20px 40px; font-size: 16px; font-weight: bold; margin-bottom: 40px; line-height: 30px;}
.userCenter_pop_msg_box .com_pop_btn_box { text-align: center}
.userCenter_pop_msg_box .com_pop_btn_box .com_btn{ width: 280px; line-height: 40px; height: 40px;}

.userCenter_pop_com_con_box { padding-bottom: 0; border: 0; width: 640px; margin-right: -320px;}
.userCenter_pop_com_con_box .com_pop_tit,
.userCenter_pop_com_con_box .com_pop_close{ display: none;}
.userCenter_pop_com_con_box .com_pop_con{ padding: 0;}
.userCenter_pop_com_con_box .com_con_bottom .com_btn{ margin: 0 10px;}

.dl_form .dd_tel_mobile_number .txt1 { width: 74px !important; float: left;}
.dl_form .dd_tel_mobile_number .line1 { text-align: center; margin: 0 5px; float: left;}
.dl_form .dd_tel_mobile_number .txt2{ width:215px !important;float: left;}
.uMana_add_modify_box .dl_form .dd_tel_mobile_number .txt2 { width: 75px !important; }
.com_right_box  .user_center_box_btn { margin: 0; padding-top: 0;}
.errorBorder .el-input__inner{ border-color: #8d2e3c!important;}
