@charset "utf-8";

/* default */
* {margin:0;padding:0;}
body {color: #333742; font: 12px/24px "Arial"; background: #f2f2f2;}
.clearfix:after{display: block;clear : both;content : "";visibility : hidden;height : 0;}
.clearfix{zoom : 1;}
::-moz-placeholder { color: #9d9d9d;}
::-webkit-input-placeholder { color:#9d9d9d;}
:-ms-input-placeholder { color:#9d9d9d;}
a {color: #333742; text-decoration: none;}
a:hover {color: #8d2e3c !important;}
img { border: 0;}
i,em { font-style: normal;}
li { list-style: none;}
input,select,textarea { outline: none; color: #333742}
input:hover,textarea:hover  { border-color: #8391a5!important;}
input:focus,textarea:focus { border-color: #20a0ff!important;}

/* common */
.wrap { width: 100%; min-width: 1200px;}
.com_box { width: 1200px; min-width: 1200px; margin: 0 auto; position: relative;}
.com_btn {-webkit-transition: all 0.5s ease;-moz-transition: all 0.5s ease;-ms-transition: all 0.5s ease;-o-transition: all 0.5s ease;}
.comH2Title {background: #E3E3E3; color: #000; text-align: center; line-height: 45px; height: 45px; font-weight: normal; font-size: 16px;}

.com_left_box{
  float:left;
  width: 180px;
  background: #fff;
  padding-bottom: 20px;
  min-height: 650px;
}
.com_right_box{
  float: right;
  width: 1020px;
  min-height: 650px;
  position: relative;
}

/* com_btn */
.com_btn {background: url(../images/com_btn.png) repeat-x 0 bottom #fff; display: inline-block;color: #333; font-size: 12px; font-weight: bold; cursor: pointer; padding: 0 35px; border:1px solid #dadada; line-height: 36px; height: 36px; text-align: center;border-radius:5px;}
.reset_com_btn1 { background: #00CC99; border-color: #00CC99; color: #fff;}
.com_btn:hover,.com_btn:active { background: #13CE66; color: #fff!important;}
.com_back_btn span { line-height: 26px; background: #fff; display: block;border: 2px solid #8d2e3c; height: 26px; padding: 0 15px; border-left: 0;border-top-right-radius:4px;border-bottom-right-radius:4px;}
.com_back_btn ,
.com_back_btn:hover { height: 30px; background: url(../images/icon.png) no-repeat 0 -153.5px; color: #8d2e3c !important; padding: 0 0 0 15px; border:0;}
.com_btn.focus { background: #13CE66; color: #fff!important;}
.noInfoTips { text-align: center; padding: 30px; font-size: 14px; color: #aaa;}

/* com_top_oper_box */
.com_top_oper_box { padding: 12px 20px; background: #fff; border-top: 1px solid #eee; border-bottom: 1px solid #eee;}
.com_top_oper_box .itemL{ margin-right: 15px; float: left;}
.com_top_oper_box .itemR{ margin-left: 15px; float:right;}
.com_top_oper_tit { border:0; margin-right: 10px; line-height: 32px; height: 32px; float: left;}


/* com_con_box */
.com_con_box {background: #fff;  width: 640px; box-shadow: 0 0 5px #dadada; margin: 0 auto;}
.com_con_center { margin: 70px 70px 0; padding: 0 53px 40px;}
.com_con_bottom {border-top:1px solid #dadada; padding: 40px 0; margin: 0 70px; text-align: center}

.dl_form dd,
.dl_form dt { padding-left: 90px; position: relative; margin-bottom: 25px;min-height:30px;}
.dl_form dt { margin: -10px 0 20px; color: #666;}
.dl_form dt a{ color: #51a0ec}
.dl_form dd .name { position: absolute; top: 0; left: 0; width: 90px; line-height: 36px; font-weight: bold;}

/* com_table_box */
.com_table_box {background: #fff;}
.com_table_box .com_table_title { border-bottom: 1px solid #ddd; font-weight: bold;}
.com_table_box .tab_row { border-bottom:1px solid #dadada; line-height: 18px;}
.com_table_box .com_table_con{ font-size: 14px;}
.com_table_box .com_table_con .tab_row:hover { background: #f9f9f9}
.com_table_box .tab_cell { border-right: 1px solid #eee;float:left; width: 20%; box-sizing: border-box;line-height: 50px; height:50px; overflow: hidden; text-overflow: ellipsis; white-space:nowrap; text-align: center;}
.com_table_box .tab_cell:last-child { border:none; }
.com_table_box .tab_oper i { cursor: pointer; display: inline-block; width: 35px; height: 35px; line=height: 35px; vertical-align: middle; border-radius: 50%; background: url(../images/ok.png) 0 0 / 100% 100%; margin: 8px;}
.com_table_box .check_ok:hover { background: url(../images/ok1.png) 0 0 / 100% 100%; }
.com_table_box .tab_oper .check_no { background: url(../images/no.png) 0 0 / 100% 100%;}
.com_table_box .check_no:hover { background: url(../images/no1.png) 0 0 / 100% 100%;}
.com_table_box .tab_oper .check_claim_btn { background: none; border: 2px solid #777; font-weight: bold; width: 40px; line-height: 40px; font-size: 13px;}
.com_table_box .tab_oper .check_claim_btn a { display: block;;}
.com_table_box .tab_oper .check_claim_btn:hover { border: 2px solid #f00; color: #f00;}
