.com_left_box{

  .focusNav{
    color: #FF4949!important;
    font-weight: bold;
    background: #C0CCDA!important;
  }
  .comH2Title{
    height: 70px;
    line-height: 70px;
    font-size: 18px;

    .logo{
      display: inline-block;
      width: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 18px;
      border-radius: 50%;
      border: 1px solid #DEDEDE;
      background: #fff;
      box-sizing: border-box;
    }
  }

  .dl_left_nav {

    li a{
      display: block;
      font-size: 14px;
      padding: 15px 0;
      border-bottom:1px solid #dadada;
      line-height: 24px;
      position: relative;
      text-align: center;
    }
  }

}
