.com_right_box .rMana_add_modify_box .el-select {
  width: 220px;
}
.rMana_add_modify_box {

  .subRole { padding: 10px 20px;}

  .com_switch_table_con { min-height: auto}

  .opear_transfer_box{
    padding: 15px 60px 30px;
    background: #fff;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -230px;
    width: auto;

    .com_pop_tit{
      text-align: left
    }

    .btn_wrap{
      padding: 20px 0 0
    }

    .el-transfer{
      text-align: initial;
    }
  }
  .com_mask{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 500;
    top: 0;
    left: 0;
  }

  .roleName_dd{
    width: 55%;
  }
}
